{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Are you applying for you or someone else?
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": "your-application-progress",
            "text": "Go back"
        }) }}

        <form action="who-is-applying" method="post">
            <span class="nhsuk-caption-l">Personal details</span>
            {{ radios({
                "idPrefix": "applying",
                "name": "applying",
                "fieldset": {
                    "legend": {
                        "text": "Are you applying for you or someone else?",
                        "classes": "nhsuk-fieldset__legend--l",
                        "isPageHeading": true
                    }
                },
                "items": [
                {
                    "value": "myself",
                    "text": "Myself"
                },
                {
                    "value": "somoneElse",
                    "text": "Someone else"
                }
                ]
            }) }}

            {{ details({
                "text": "When can I apply for someone else?",
                "HTML": "
                    <p>
                        <strong>If you're responsible for their financial affairs</strong>
                    </p>

                    <p>You can complete the form on behalf of someone else if you are responsible for their financial affiars because they have either:</p>

                    <ul>
                        <li>learning difficulties</li>
                        <li>a condition which prevents them from managing their own affairs</li>
                    </ul>

                    <p>
                        <strong>You are responsible for making sure the information entered is correct and complete.</strong>
                    </p>

                    <p>
                        <strong>If you're just helping to complete the form</strong>
                    </p>
                    <p>You should select the 'myself' option.</p>
                    <p>You can help to complete the form, but they are responsible for the information given.</p>
                "
            }) }}

            {{ button({
                "text": "Continue"
            }) }}
        </form>
        <!-- End of content -->
	</div>
</div>
{% endblock %}
