{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Check your answers
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    {{ backLink({
        "href": 'javascript:history.go(-1);',
        "text": "Back"
    }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-l">Apply for help with NHS costs</span>
        <h1 class="nhsuk-heading-l">Check your answers</h1>

        <h2 class="nhsuk-heading-m">Check eligibility</h2>

        {% set moneyComingInList = '' %}
        {% if data['moneyComingIn'] %}
            {% for item in data['moneyComingIn'] %}
                {% set capitalizedItem = item | capitalize %}
                {% set moneyComingInList = moneyComingInList + capitalizedItem + '<br><br>' %}
            {% endfor %}
        {% endif %}



        {{ summaryList({
        rows: [
            {
            key: {
                text: "Country you live in"
            },
            value: {
                text: data['country'] | capitalize
            },
            actions: {
                items: [
                {
                    href: "which-country-do-you-live-in",
                    text: "Change",
                    visuallyHiddenText: "country you live in"
                }
                ]
            }
            },
            {
            key: {
                text: "Live permanently in a care home"
            },
            value: {
                text: data['care'] | capitalize
            },
            actions: {
                items: [
                {
                    href: "permanent-care-home",
                    text: "Change",
                    visuallyHiddenText: "if you live permanently in a care home"
                }
                ]
            }
            },
        {
            key: {
                    text: "Live with a partner"
                },
                value: {
                    text: data['partner'] | capitalize
            },

            actions: {
                items: [
                {
                    href: "live-with-partner",
                    text: "Change",
                    visuallyHiddenText: "if you live with a partner"
                }
                ]
            }
            },
            {
            key: {
                text: "Claimed asylum"
            },
            value: {
                text: data['asylum'] | capitalize
            },
            actions: {
                items: [
                {
                    href: "claimed-asylum",
                    text: "Change",
                    visuallyHiddenText: "claimed asylum"
                }
                ]
            }
            },

            {
            key: {
                text: "In education or training"
            },
            value: {
                text: data['training'] | capitalize
            },
            actions: {
                items: [
                {
                    href: "education-or-training",
                    text: "Change",
                    visuallyHiddenText: "education training"
                }
                ]
            }
            },
            {
                key: {
                    text: "Get money from"
                },
                value: {
                    text: moneyComingInList | safe 
                },
                actions: {
                    items: [
                    {
                        href: "money-coming-in",
                        text: "Change",
                        visuallyHiddenText: "get money from"

                }
                ]
            }
            },
            {
                key: {
                    text: "Have more than £6,000 in savings"
                },
                value: {
                    text: data['moreThan6000'] | capitalize
                },
                actions: {
                    items: [
                    {
                        href: "more-than-6000",
                        text: "Change",
                        visuallyHiddenText: "more than 6,000"

                }
                ]
            }
            }
        ]
        }) }}

        <a href="you-can-apply-online" class="nhsuk-button" role="button">Continue</a>
        <!-- End of content -->
    </div>
</div>
{% endblock %}
