{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Enter the email address you used to save your application - Apply online for help with NHS costs
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ backLink({
    "href": 'javascript:history.go(-1);',
    "text": "Back"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">


        <form action="email-address-continue" method="post">
          <span class="nhsuk-caption-l">Continue application</span>
          <h1 class="nhsuk-heading-l">Enter the email address you used to save your application</h1>


          {{ input({
            label: {
                text: "Email address"
            },
            id: "example-email",
            name: "example-email",
            classes: "nhsuk-input--width-20"
          }) }}
      

            {{ button({
                "text": "Continue"
            }) }}
        </form>
        <!-- End of content -->
	</div>
</div>
{% endblock %}
