{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
You can apply online for help with health costs
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": 'javascript:history.go(-1);',
            "text": "Go back"
        }) }}

        <div class="nhsbsa-panel">
            <div class="done-panel">
            <h1 class="nhsuk-heading-l">You can apply online for help with health costs</h1>
        </div>

        <h2 class="nhsuk-heading-m">What you need to know before you start</h2>

        <p>During the online application, we'll ask for information about:</p>

        <ul>
            <li>income - how much you (or your partner) get from any jobs, pensions or benefits</li>
            <li>housing costs - what you (or your partner) pay for things like Council Tax, rent and utilities</li>
            <li>educational courses (if you are a student) - what and where you are studying, what your term dates are, and how your course is funded</li>
        </ul>

        <h2 class="nhsuk-heading-m">What we will ask you to send us</h2>

        <p>If you or your partner get them, we will ask you to send us copies of your:</p>

        <ul>
            <li>payslips</li>
            <li>latest Working Tax Credit award notice</li>
            <li>latest Universal Credit monthly statement</li>
        </ul>

        <h2 class="nhsuk-heading-m">What happens after your application</h2>

        <p>Once you complete your application, you will receive a reference number for any queries you may have. Your application will then be processed and you will be contacted when a decision has been made.</p>

        <p>If you are entitled to help, you will get either an:</p>

        <ul>
            <li><a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme/hc2-certificates-full-help-health-costs" target="_blank">HC2 certificate (opens in a new tab)</a> for full help with health costs - this includes free NHS prescriptions</li>
            <li><a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme/hc3-certificates-limited-help-health-costs" target="_blank">HC3 certificate (opens in a new tab)</a> for partial help with health costs - you would still need to pay something towards your health costs, and need to pay for NHS prescriptions in full</li>
        </ul>

        <a href="your-application-progress" class="nhsuk-button" role="button">Continue</a>
        <!-- End of content -->
	</div>
</div>
{% endblock %}
