{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Which rate of Attendance Allowance does your partner get?
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": 'javascript:history.go(-1);',
            "text": "Go back"
        }) }}



        <!-- <form action="sight-impaired" method="post"> -->
          <span class="nhsuk-caption-l">Income and other money</span>
            {{ radios({
                "idPrefix": "partner-attendance-allowance",
                "name": "partner-attendance-allowance",
                "fieldset": {
                    "legend": {
                        "text": "Which rate of Attendance Allowance does your partner get?",
                        "classes": "nhsuk-fieldset__legend--l",
                        "isPageHeading": true
                    }
                },
                "items": [
                {
                    "value": "highRate",
                    "text": "High rate",
                    hint: {
                        text: data['AttendanceAllowanceHighRate']
                      }
                },
                {
                    "value": "lowRate",
                    "text": "Low rate",
                    hint: {
                        text: data['AttendanceAllowanceLowRate']
                      }
                }
                ]
            }) }}
      

            {{ button({
                "text": "Continue"
            }) }}
        <!-- </form> -->
        <!-- End of content -->
	</div>
</div>
{% endblock %}
