{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Are you in full or part time education?
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
        {{ backLink({
            "href": "your-application-progress-3",
            "text": "Go back"
        }) }}

        <form action="name-of-establishment" method="post">
            <span class="nhsuk-caption-l"> Education and training </span>
            {{ radios({
                "idPrefix": "full",
                "name": "full",
                "fieldset": {
                    "legend": {
                        "text": "Are you in full-time or part-time education?",
                        "classes": "nhsuk-fieldset__legend--l",
                        "isPageHeading": true
                    }
                },
                "items": [
                {
                    "value": "yes",
                    "text": "Full-time education"
                },
                {
                    "value": "no",
                    "text": "Part-time education"
                }
                ]
            }) }}

            {{ button({
                "text": "Continue"
            }) }}
        </form>
        <!-- End of content -->
	</div>
</div>
{% endblock %}
