{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Do you get Universal Credit?
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ backLink({
    "href": 'javascript:history.go(-1);',
    "text": "Back"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">



        <form action="universal-credit" method="post">
          <span class="nhsuk-caption-l">Benefits</span>

            {{ radios({
              "idPrefix": "universal-credit",
              "name": "universal-credit",
              "fieldset": {
                legend: {
                  text: "Do you get Universal Credit?",
                  classes: "nhsuk-fieldset__legend--l",
                  isPageHeading: true
                }
              },
                "items": [
                {
                    "value": "yes",
                    "text": "Yes"
                },
                {
                    "value": "no",
                    "text": "No"
                },
                {
                  divider: "or"
                },
                {
                  "value": "not-yet",
                  "text": "Not yet, but have applied"
                }
                ]
            }) }}
      

            {{ button({
                "text": "Continue"
            }) }}
        </form>
        <!-- End of content -->
	</div>
</div>
{% endblock %}
