{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  Was your total take-home pay for your last Universal Credit period {% if data['universal-credit-claim'] == "yes" %}£935{% endif %}{% if data['universal-credit-claim'] == "no" %}£435{% endif %} or less?
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ backLink({
    "href": 'javascript:history.go(-1);',
    "text": "Back"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if data['partner'] == "no" %}
      {% set H1 = "Was your total take-home pay for your last Universal Credit period " %}
      {% if data['universal-credit-claim'] == "yes" %}
        {% set H1 = H1 + "£935 or less?" %}
      {% else %}
        {% set H1 = H1 + "£435 or less?" %}
      {% endif %}
    {% endif %}

    {% if data['partner'] == "yes" %}
      {% set H1 = "Did you and your partner have a combined total take-home pay of " %}
      {% if data['universal-credit-claim'] == "yes" %}
        {% set H1 = H1 + "£935 or less in your last Universal Credit period?" %}
      {% else %}
        {% set H1 = H1 + "£435 or less in your last Universal Credit period?" %}
      {% endif %}
    {% endif %}

    <span class="nhsuk-caption-l">Benefits</span>

    {{ radios({
      "idPrefix": "universal-credit-take-home-pay",
      "name": "universal-credit-take-home-pay",
      "fieldset": {
        legend: {
          text: H1,
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      "hint": {
        "html": "
          <div class='nhsuk-hint' style='margin-bottom: 20px;'>Total take-home pay is used to work out your Universal Credit payments.</div>
          <div class='nhsuk-hint' style='margin-bottom: 20px;'>It is shown on your statement as 'Your total take-home pay for this period'.</div>
          <div class='nhsuk-hint' style='margin-bottom: 20px;'>If you don't work, your total take-home pay will be £0.</div>
        "
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}

    {{ button({
      "text": "Continue"
    }) }}

  </div>
</div>

{% endblock %}
