{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Your application
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
        <h1>Your application</h1>

        <p>You cannot send your application until you have completed all the sections.</p>
        <p>To work out what help you can get, we need more information about you.</p>

        <a href="/v2/save-application/save-your-application" class="nhsuk-button nhsuk-button--secondary" role="button">Save and come back later</a>

        <h2 class="nhsuk-heading-m">1. Check before you start</h2>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Check eligibility
                </dt>
            
                <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag nhsuk-tag">
                        Completed
                    </strong>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="check-your-answers-eligibility">
                      Change<span class="nhsuk-u-visually-hidden"> eligibility check</span>
                    </a>
                  </dd>
            </div>
        </dl>

        <h2 class="nhsuk-heading-m">2. About you</h2>
        <p>To work out what help you can get, we need information about your housing costs and income.</p>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                   Personal details
                </dt>
            
                <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag nhsuk-tag">
                        Completed
                    </strong>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/v2/2-about-you/check-your-answers-personal-details">
                      Change<span class="nhsuk-u-visually-hidden"> personal details</span>
                    </a>
                  </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Contact details
                </dt>
            
                <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag nhsuk-tag">
                        Completed
                    </strong>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/v2/2-about-you/check-your-answers-contact-details">
                        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                      </a>
                  </dd>
            </div>
        </dl>


        <h2 class="nhsuk-heading-m">3. About your income</h2>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Money from somewhere else
                </dt>
            
                <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag nhsuk-tag">
                        Completed
                    </strong>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/v2/3-about-your-income/check-your-answers-other-income">
                        Change<span class="nhsuk-u-visually-hidden"> how you pay for things</span>
                      </a>
                  </dd>
            </div>
        </dl>


        <h2 class="nhsuk-heading-m">4. About your home</h2>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Where you live
                </dt>
            
                <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag nhsuk-tag--white">
                        To do
                    </strong>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/v2/4-about-your-home/check-your-answers-where-you-live">
                        Start<span class="nhsuk-u-visually-hidden"> providing housing details</span>
                      </a>
                  </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    People who live with you
                </dt>
            
                <dd class="nhsuk-summary-list__value">
                    <strong class="nhsuk-tag nhsuk-tag--grey">
                        Can't start yet
                    </strong>
                </dd>
            </div>
        </dl>


        <h2 class="nhsuk-heading-m">5. Submit application</h2>

        <button class="nhsuk-button" type="submit" disabled>
            Continue
          </button>
          

        <!-- End of content -->
	</div>
</div>
{% endblock %}
