{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Does your course have 3 terms this academic year?
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  "href": 'javascript:history.go(-1);',
  "text": "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-l">Education and training </span>
        <h1 class="nhsuk-heading-l">Does your course have 3 terms this academic year?

        </h1>
       
        <p class="nhsuk-body">Terms are not the same as semesters.</p>
            <p class="nhsuk-body"> A list of term dates can usually be found online within the student portal or listed in the university or college's academic calendar. </p>
            <form action="how-many-terms" method="post">

            {% from 'radios/macro.njk' import radios %}

            {{ radios({
              "idPrefix": "terms",
              "name": "terms",
              "fieldset": {
                "legend": {
                  "classes": "nhsuk-fieldset__legend--l",
                  "isPageHeading": true
                }
              },
              "items": [
                {
                  "value": "yes",
                  "text": "Yes"
                },
                {
                  "value": "no",
                  "text": "No"
                }
              ]
            }) }}
      

            {{ button({
                "text": "Continue"
            }) }}

            </form>
     
        <!-- End of content -->
	</div>
</div>
{% endblock %}
