{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
  How often is your State Pension paid?
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  "href": 'javascript:history.go(-1);',
  "text": "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">



        <!-- <form action="sight-impaired" method="post"> -->
          <span class="nhsuk-caption-l">Pensions (state, work, private)</span>
          <h1 class="nhsuk-heading-l">How often is your State Pension paid?</h1>

            {{ radios({
              "idPrefix": "how-often-get-state-pension",
              "name": "how-often-get-state-pension",
              "fieldset": {

              },
                "items": [
                {
                    "value": "everyWeek",
                    "text": "Every week"
                },
                {
                    "value": "everyTwoWeeks",
                    "text": "Every 2 weeks"
                },
                {
                    "value": "everyFourWeeks",
                    "text": "Every 4 weeks"
                },
                {
                    "value": "everyQuarter",
                    "text": "Every quarter (4 times a year)"
                },
                {
                    "value": "onceAYear",
                    "text": "Once a year"
                }
                ]
            }) }}
      

            {{ button({
                "text": "Continue"
            }) }}
        <!-- </form> -->
        <!-- End of content -->
	</div>
</div>
{% endblock %}
