{% extends 'layout.html' %}

{% block pageTitle %}
What subject are you studying?
{% endblock %}

{% block beforeContent %}
    {{ backLink({
        href: 'javascript:history.go(-1);',
        text: 'Back'
    }) }}
{% endblock %}

{% block outerContent %}{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">


        <form method="post" novalidate>

            <span class="nhsuk-caption-l">Income and other money</span>

            <h1 class="nhsuk-heading-l">Do you or your partner get any of these benefits?</h1>

            <p class="nhsuk-hint">Select all that apply</p>
            <p class="nhsuk-hint">We will only ask about benefits that can affect the outcome of your application.</p>


            <!-- HIDE ALL BUTTON -->
            {{ button({
                text: 'Hide all',
                classes: 'nhsuk-button--secondary id-hide-all'
            }) }}

            <script>
                document.addEventListener('DOMContentLoaded',function(){


                    //
                    // BUTTONS
                    //
                    const btn = document.querySelector('.id-hide-all');

                    btn.addEventListener('click',function(e){

                        const inner = btn.innerHTML.trim();

                        if( inner === 'Hide all' ){
                            // Hide all
                            btn.innerHTML = 'Show all';
                            document.querySelectorAll('.nhsuk-expander').forEach(function(el){
                                el.removeAttribute('open');
                            });
                        } else {
                            // Show all
                            btn.innerHTML = 'Hide all';
                            document.querySelectorAll('.nhsuk-expander').forEach(function(el){
                                el.addAttribute('open');
                            });
                        }

                        e.preventDefault();
                        e.stopPropagation();

                    });

                    //
                    // CHECKBOXES
                    //
                    const checkbox = document.querySelector('#noneOfTheAbove-2');
                    const checkboxes = document.querySelectorAll('.nhsuk-expander input[type="checkbox"]');
                    
                    checkbox.addEventListener('change',function(e){
                        checkboxes.forEach(function( el ){
                            el.checked = false;
                        });
                    });

                    checkboxes.forEach(function( el ){
                        el.addEventListener('change',function(e){
                            if( e.target.checked === true ){
                                checkbox.checked = false;
                            }
                        });
                    });

                });
            </script>


            <!-- UNEMPLOYMENT BENEFITS -->
            {% call details({
                summaryText: 'Unemployment benefits',
                classes: 'nhsuk-expander',
                attributes: { open: true}
            }) %}

                {{ checkboxes({
                    idPrefix: 'unemploymentBenefits',
                    name: 'unemploymentBenefits',
                    items: [
                        {
                            value: 'newStyleJobseekersAllowanceJSA',
                            text: "New Style Jobseeker's Allowance (JSA)",
                            hint: {
                                html: '<span class="nhsuk-u-font-size-16">If you’re unemployed or work less than 16 hours a week on average you may be able to get New Style JSA. It is a contribution based benefit.</span>'
                            }
                        }
                    ]
                }) }}
                
            {% endcall %}



            <!-- DISABILITY, ILLNESS AND CARER BENEFITS -->
            {% call details({
                summaryText: 'Disability, illness and carer benefits',
                classes: 'nhsuk-expander',
                attributes: { open: true}
            }) %}

                {{ checkboxes({
                    idPrefix: 'disabilityIllnessAndCarerBenefits',
                    name: 'disabilityIllnessAndCarerBenefits',
                    items: [
                        {
                            value: 'employmentandSupportAllowanceESA',
                            text: 'Employment and Support Allowance (ESA)',
                        },
                        {
                            value: 'personalIndependencePaymentPIP',
                            text: 'Personal Independence Payment (PIP)'
                        },
                        {
                            value: 'disabilityLivingAllowanceDLA',
                            text: 'Disability Living Allowance (DLA)'
                        },
                        {
                            value: 'attendanceAllowance',
                            text: 'Attendance Allowance'
                        },
                        {
                            value: 'industrialInjuriesDisablementBenefit',
                            text: 'Industrial Injuries Disablement Benefit'
                        },
                        {
                            value: 'carersAllowance',
                            text: "Carer's Allowance",
                            hint: {
                                html: '<span class="nhsuk-u-font-size-16">This is different from the care component of DLA.</span>'
                            }
                        },
                        {
                            value: 'incapacityBenefit',
                            text: 'Incapacity Benefit'
                        },
                        {
                            value: 'severeDisablementAllowance',
                            text: 'Severe Disablement Allowance'
                        }
                    ]
                }) }}

                
            {% endcall %}



            <!-- SCOTLAND ONLY - DISABILITY, ILLNESS AND CARER BENEFITS -->
            {% call details({
                summaryText: 'Scotland only - Disability, illness and carer benefits',
                classes: 'nhsuk-expander',
                attributes: { open: true}
            }) %}

                {{ checkboxes({
                    idPrefix: 'scotlandOnlyDisabilityIllnessAndCarerBenefits',
                    name: 'scotlandOnlyDisabilityIllnessAndCarerBenefits',
                    items: [
                        {
                            value: 'childDisabilityPaymentCDP',
                            text: 'Child Disability Payment (CDP)'
                        },
                        {
                            value: 'pensionAgeDisabilityPayment',
                            text: 'Pension Age Disability Payment'
                        },
                        {
                            value: 'carerSupportPayment',
                            text: 'Carer Support Payment'
                        }
                    ]
                }) }}
                
            {% endcall %}




            <!-- ARMED FORCES DISABILITY BENEFITS -->
            {% call details({
                summaryText: 'Armed forces disability benefits',
                classes: 'nhsuk-expander',
                attributes: { open: true}
            }) %}

                {{ checkboxes({
                    idPrefix: 'armedForcesDisabilityBenefits',
                    name: 'armedForcesDisabilityBenefits',
                    items: [
                        {
                            value: 'armedForcesIndependencePayment',
                            text: 'Armed Forces Independence Payment'
                        },
                        {
                            value: 'armedForcesCompensationScheme',
                            text: 'Armed Forces Compensation Scheme'
                        },
                        {
                            value: 'warDisablementPension',
                            text: 'War Disablement Pension'
                        }
                    ]
                }) }}

                
            {% endcall %}



            <!-- DEATH AND BEREAVEMENT BENEFITS -->
            {% call details({
                summaryText: 'Death and bereavement benefits',
                classes: 'nhsuk-expander',
                attributes: { open: true}
            }) %}

                {{ checkboxes({
                    idPrefix: 'deathAndBereavementBenefits',
                    name: 'deathAndBereavementBenefits',
                    items: [
                        {
                            value: 'bereavementSupportPayment',
                            text: 'Bereavement Support Payment'
                        },
                        {
                            value: 'widowedParentsAllowance',
                            text: "Widowed Parent's Allowance"
                        },
                        {
                            value: 'warWidowerPension',
                            text: 'War Widow(er) Pension'
                        },
                        {
                            value: 'industrialDeathBenefit',
                            text: 'Industrial Death Benefit'
                        }
                    ]
                }) }}
                
            {% endcall %}




             <!-- MATERNITY BENEFITS -->
            {% call details({
                summaryText: 'Maternity benefits',
                classes: 'nhsuk-expander',
                attributes: { open: true}
            }) %}

                {{ checkboxes({
                    idPrefix: 'maternityBenefits',
                    name: 'maternityBenefits',
                    items: [
                        {
                            value: 'maternityAllowance',
                            text: 'Maternity Allowance'
                        }
                    ]
                }) }}
                
            {% endcall %}

            {{ checkboxes({
                    idPrefix: 'noneOfTheAbove',
                    name: 'noneOfTheAbove',
                    items: [
                        {
                            divider: 'or'
                        },
                        {
                            value: 'none',
                            text: 'No, I do not get any of these benefits'
                        }
                    ]
                }) }}





            {{ button({
                text: 'Continue'
            }) }}

        </form>

        

        

	</div>
</div>

{% endblock %}
