.nhsuk-phase-banner {
    padding-top: nhsuk-spacing(2);
    padding-bottom: nhsuk-spacing(2);
    border-bottom: 1px solid $nhsuk-border-color;
  }
  
  .nhsuk-phase-banner__content {
    @include nhsuk-font($size: 16);
    color: $nhsuk-text-color;
    display: table;
    margin: 0;
  }
  
  .nhsuk-phase-banner__content__tag {
    @include nhsuk-font($size: 16);
    margin-right: nhsuk-spacing(2);
    font-weight: bold;
  }
  
  .nhsuk-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
  }