{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Are you applying for you or someone else?
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <span class="nhsuk-caption-l">Income and other money</span>
        <h1 class="nhsuk-fieldset__legend--l">
            Do you get any of these benefits?
        </h1>
        <p>We will only ask about benefits that can affect the outcome of your application.</p>
        <p>Select all that apply</p>

        <form action="who-is-applying" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="WTCandCTC" name="tax-credit-type" type="radio"
                                value="WTCandCTC">
                            <label class="nhsuk-label nhsuk-radios__label" for="WTCandCTC">
                                Working Tax Credit and Child Tax Credit together
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="WTC-Disability" name="tax-credit-type" type="radio"
                                value="WTC-Disability">
                            <label class="nhsuk-label nhsuk-radios__label" for="WTC-Disability">
                                Working Tax Credit on its own, including a disability element
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="CTC" name="tax-credit-type" type="radio" value="CTC">
                            <label class="nhsuk-label nhsuk-radios__label" for="CTC">
                                Child Tax Credit on its own
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="WTC" name="tax-credit-type" type="radio" value="WTC">
                            <label class="nhsuk-label nhsuk-radios__label" for="WTC">
                                Working Tax Credit on its own
                            </label>
                        </div>
                    </div>
                </fieldset>



            </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        I'm not sure what type I get
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>
                        <strong>If you're responsible for their financial affairs</strong>
                    </p>

                    <p>You can complete the form on behalf of someone else if you are responsible for their financial
                        affiars
                        because they have either:</p>

                    <ul>
                        <li>learning difficulties</li>
                        <li>a condition which prevents them from managing their own affairs</li>
                    </ul>

                    <p>
                        <strong>You are responsible for making sure the information entered is correct and
                            complete.</strong>
                    </p>

                    <p>
                        <strong>If you're just helping to complete the form</strong>
                    </p>
                    <p>You should select the 'myself' option.</p>
                    <p>You can help to complete the form, but they are responsible for the information given.</p>
                </div>
            </details>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>
{% endblock %}