<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>
			Apply online for help with NHS costs
		</h1>

		{% call details({
			summaryText: "Version 1",
			classes: "nhsuk-expander"
		  }) %}
		  <h2 class="nhsuk-heading-m">Full journey</h2>
		  <p>Re-design of the existing LIS apply service using the new NHS toolkit.</p>
		  <a href="/v1/0-start/start" class="nhsuk-button nhsuk-u-margin-bottom-0" role="button">View prototype</a>
		  <hr>
		  <h2 class="nhsuk-heading-m">Adhoc screens</h2>
		  <ul>
			  <li><a href="/v1/session-timeout">Session timed out</a></li>
		  </ul>
		  {% endcall %}

		  {% call details({
			summaryText: "Version 2",
			classes: "nhsuk-expander"
		  }) %}
		  <h2 class="nhsuk-heading-m">Full journey</h2>
		  <p>Updating the new NHS toolkit designs to match LIS apply live service.</p>
		  <a href="/v2/1-check-before-you-start/apply-online" class="nhsuk-button nhsuk-u-margin-bottom-0" role="button">View prototype</a>
		  <hr>
		  <h2 class="nhsuk-heading-m">Adhoc screens</h2>
		  <ul>
			  <li><a href="/v2/session-timeout">Session timed out</a></li>
			  <li><a href="/v2/cookies/nhsbsa-cookies">Cookies on the NHSBSA website</a></li>
			  <li><a href="/v2/cookies/choose-cookies">Choose which cookies we use</a></li>
			  <li><a href="/v2/cookies/cookies-saved">Cookie settings have been saved</a></li>
			  <li><a href="/v2/cookies/start-cookies">Start page with cookies choice</a></li>
			  <li><a href="/v2/cookies/cookies-decision">Start page with cookies decision</a></li>
		  </ul>
		  {% endcall %}

		<!-- End of content -->
	</div>
</div>
{% endblock %}
