<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
LIS Apply Prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- Adding empty phaseBanner block removes phase banner, dont add if you want it in -->
{% block phaseBanner %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>
			Apply online for help with NHS costs
		</h1>

		{{ details({
		"classes": "nhsuk-expander",
		"text": "Version 1",
		"HTML": "
			<h2 class=\"nhsuk-heading-m\">Full journey</h2>
			<p>Re-design of the existing LIS apply service using the new NHS toolkit.</p>
			<a href=\"/v1/0-start/start\" class=\"nhsuk-button nhsuk-u-margin-bottom-0\" role=\"button\">View prototype</a>
			<hr>
			<h2 class=\"nhsuk-heading-m\">Adhoc screens</h2>
			<ul>
				<li><a href=\"/v1/session-timeout\">Session timed out</a></li>
			</ul>
			"
		}) }}

		{{ details({
			"classes": "nhsuk-expander",
			"text": "Version 2",
			"HTML": "
				<h2 class=\"nhsuk-heading-m\">Full journey</h2>
				<p>Updating the new NHS toolkit designs to match LIS apply live service.</p>
				<a href=\"/v2/1-check-before-you-start/apply-online\" class=\"nhsuk-button nhsuk-u-margin-bottom-0\" role=\"button\">View prototype</a>
				<hr>
				<h2 class=\"nhsuk-heading-m\">Adhoc screens</h2>
				<ul>
					<li><a href=\"/v2/session-timeout\">Session timed out</a></li>
					<li><a href=\"/v2/cookies/nhsbsa-cookies\">Cookies on the NHSBSA website</a></li>
					<li><a href=\"/v2/cookies/choose-cookies\">Choose which cookies we use</a></li>
					<li><a href=\"/v2/cookies/cookies-saved\">Cookie settings have been saved</a></li>
					<li><a href=\"/v2/cookies/start-cookies\">Start page with cookies choice</a></li>
					<li><a href=\"/v2/cookies/cookies-decision\">Start page with cookies decision</a></li>
				</ul>
				"
			}) }}

		<!-- End of content -->
	</div>
</div>
{% endblock %}
