<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
<div id="nhsuk-cookie-banner" data-nosnippet="true">
  <div class="nhsuk-cookie-banner" id="cookiebanner">
    <div class="nhsuk-width-container"> 
      <br>
        <h2>Cookies on the NHS website</h2> 
        <p>We've put some small files called cookies on your device to make our site work.</p>
        <p>We'd also like to use analytics cookies. These send information about how our site is used to services called Adobe Analytics, Hotjar and Google Analytics. We use this information to improve our site.</p>
        <p>Let us know if this is OK. We'll use a cookie to save your choice. You can <a id="nhsuk-cookie-banner__link" href="nhsbsa-cookies" tabindex="1">read more about our cookies</a> before you choose.</p>
        <form action="cookies-decision">
            <button class="nhsuk-button"  href="cookies/cookies-decision" tabindex="2">I'm OK with analytics cookies</button>&nbsp;&nbsp;&nbsp;
        
            <button class="nhsuk-button" href="#" tabindex="3">Do not use analytics cookies</button>
          </form>
    </div>
  </div>

  <div class="nhsuk-success-banner" id="nhsuk-cookie-confirmation-banner" style="display:none;">
    <div class="nhsuk-width-container">
      <p id="nhsuk-success-banner__message">You can change your cookie settings at any time using our <a href="/our-policies/cookies-policy/">cookies page</a>.</p>
    </div>
  </div>
</div>

{{ header({
  service: {
      text: serviceName,
      href: "/"
    }
  })
}}

  <!-- PHASE BANNER -->
  <div class="nhsuk-width-container">
    <div class="nhsuk-phase-banner">
      <p class="nhsuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">BETA</strong>
        <span class="nhsuk-phase-banner__text">This is a new service – your <a class="nhsuk-link" href="s" target="_blank" rel="noopener">feedback (opens in a new tab)</a> will help us to improve it.</span>
      </p>
    </div>
  </div>

{% endblock %}

{% block outerContent %}
{% endblock %}



<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/page-example",
        "label": "Example page"
      }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
<script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
<script type="module">
  import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
  initAll()
</script>
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}